<div [class.dark-theme]="isDark">

	<mat-toolbar [color]="themeColor" class="mat-elevation-z6">

		<button mat-button (click)="sidenav.toggle()" class="side-button mr-3"><span class="material-icons toggle-main-menu">menu_open</span></button>
		<a class="main-title" mat-list-item routerLink="/"><h1 class="mat-display-1 my-0 text-uppercase">Toolbar</h1></a>
		
		<span class="example-spacer"></span>

		<button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme"><mat-icon>brightness_6</mat-icon></button>

		<!-- ? below menu will help us change the color at run-time. -->

		<button mat-button [matMenuTriggerFor]="menu" class="menu-button text-uppercase" matTooltip="Select a theme color">{{ themeColor }}</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="themeColor = 'primary'; switchTheme('primary');">
				<mat-icon [color]="themeColor === 'primary' ? 'primary' : 'no-color'">
					<ng-container *ngIf="themeColor === 'primary'; else noRadio">radio_button_checked</ng-container>
				</mat-icon>
				Primary
			</button>
			<button mat-menu-item (click)="themeColor = 'warn'; switchTheme('warn');">
				<mat-icon [color]="themeColor === 'warn' ? 'warn' : 'no-color'">
					<ng-container *ngIf="themeColor === 'warn'; else noRadio">radio_button_checked</ng-container>
				</mat-icon>
				Warn
			</button>
			<button mat-menu-item (click)="themeColor = 'accent'; switchTheme('accent');">
				<mat-icon [color]="themeColor === 'accent' ? 'accent' : 'no-color'">
					<ng-container *ngIf="themeColor === 'accent'; else noRadio">radio_button_checked</ng-container>
				</mat-icon>
				Accent
			</button>
		</mat-menu>
		<ng-template #noRadio>radio_button_unchecked</ng-template>


	</mat-toolbar>

	<mat-sidenav-container class="example-container">
		<mat-sidenav #sidenav mode="push" [attr.color]="themeColor">

			<mat-nav-list>
				<a mat-list-item routerLink="/link1" (click)="sidenav.toggle()">Link1</a>
				<a mat-list-item routerLink="/link2" (click)="sidenav.toggle()">Link2</a>
				<a mat-list-item routerLink="/link3" (click)="sidenav.toggle()">Link3</a>
				
				<a mat-stroked-button routerLink="/login" routerLinkActive="link-active" class="text-uppercase" (click)="sidenav.toggle()">Users</a>

				<div *ngIf="authService.isLoggedIn">
					<a mat-stroked-button routerLink="/charts" routerLinkActive="link-active" class="text-uppercase" (click)="sidenav.toggle()">Charts</a>
					<a mat-stroked-button routerLink="/list" routerLinkActive="link-active" class="text-uppercase" (click)="sidenav.toggle()">No End List</a>
					<a mat-stroked-button routerLink="/movies" routerLinkActive="link-active" class="text-uppercase" (click)="sidenav.toggle()">Search Movies</a>
				</div>

			</mat-nav-list>
		
		</mat-sidenav>

		<mat-sidenav-content>
			<ng-content></ng-content>
		</mat-sidenav-content>

	</mat-sidenav-container>
</div>