// ----------------------------------------
.mat-toolbar {
    z-index: 1001;
    position: relative;
}
// .mat-sidenav-container { z-index: 1; }
// ----------------------------------------

.material-icons.toggle-main-menu { font-size: 36px; }

.example-container {

    .mat-sidenav {
        min-width: 150px;
        padding: 16px;
        a {  margin: 10px 0; }
        .mat-nav-list { display: table-caption; }

    }

    .mat-sidenav-content {
        height: calc(100vh - 64px);
        // overflow: hidden ;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.link-active {
    background: whitesmoke;
    color: blueviolet;
}
