<div class="container">
    <mat-form-field *ngIf="(filteredOptions$ | async) as dbOptions" [color]="themeColor">

        <input type="text" matInput placeholder="Enter NAME of the movie..." [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="name" />
        
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of dbOptions; trackBy: trackByFn; last as lastItem; count as nElem;" [value]="option">
                <span>{{ option.substr(2).trim() }}</span>
                <span *ngIf="lastItem" [attr.data-counter]="nElem" #lastElement></span>
            </mat-option>
        </mat-autocomplete>

        <!-- <mat-hint>{{ hint }}</mat-hint> -->
        <mat-icon matPrefix [color]="themeColor">search</mat-icon>

        <button *ngIf="name" mat-button mat-icon-button matSuffix (click)="clearSearchField()" [color]="themeColor">
            <span class="material-icons">clear</span>
        </button>

    </mat-form-field>
</div>

<div class="separator" #separator></div>

<div class="container" #container>
    <!-- <pre>{{ options$ | async | json  }}</pre> -->
    <!-- <ng-container *ngIf="(options$ | async) as elems; else loading"> -->
    <ng-container *ngIf="options as elems; else loading">
        <div class="row">				
            <div class="col mb-5" *ngFor="let elem of elems; trackBy: trackByFn; index as i;">
                <mat-card>
                    <!-- {{ elem.id }} - {{ elem.name}} ({{ elem.email }}) -->
                    <mat-card-header *ngIf="elem.substr(2).trim().split(' ') as arrayEspacos">
                        <div mat-card-avatar class="card-{{ i }}"></div>
                        <mat-card-title class="text-uppercase text-truncate">{{ elem.substr(2).trim() }}</mat-card-title>
                        <mat-card-subtitle>{{ arrayEspacos[arrayEspacos.length - 1] }}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p class="text-wrap-lines text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at tortor leo.
                            Duis venenatis nunc ut eros fringilla, vel aliquet metus gravida. Curabitur eget molestie ex.
                            Integer non erat feugiat, ullamcorper dolor at, blandit sapien.
                        </p>
                    </mat-card-content>

                    <!-- {{i+4}} = 9 está "estragada"!!!!-->
                    <div class="text-center" *ngIf="i !== 9">
                        <img mat-card-avatar src="https://reqres.in/img/faces/{{i+4}}-image.jpg" alt="Your photo!" />
                    </div>
                    <div class="text-center" *ngIf="i === 9">
                        <img mat-card-avatar src="https://reqres.in/img/faces/2-image.jpg" alt="Your photo!" />
                    </div>

                
                    <mat-card-actions class="px-5">
                        <button mat-button><span class="material-icons text-info">thumb_up_off_alt</span></button>
                        <button mat-button class="float-right"><span class="material-icons text-info">share</span></button>
                    </mat-card-actions>
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </div>
        </div>
    </ng-container>

    <ng-template #loading>Loading...</ng-template>

</div>
