.mat-form-field { width: 100% ;}
.mat-card { min-width: 350px; }

.separator {
    // height: 250px;
    height: 0;
    transition: height 500ms cubic-bezier(.17,.67,.83,.67);
}

.text-wrap-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

img {
    width: 150px;
    height: 150px;
    // font-size: 40px;
}

@for $i from 0 through 10 {
    // .card-0, .card-1, .card-2 {
    .card-#{$i} {
        background-image: url('https://reqres.in/img/faces/' + ($i + 4) + '-image.jpg');
        background-size: cover;
    }
}