<section class="vertical-wrapper container">

    <h2 class="mb-5 mt-2">
        <a href="https://swimlane.github.io/ngx-charts/" target="_blank">NGX-CHARTS</a>
        or
        <a href="https://swimlane.gitbook.io/ngx-charts" target="_blank">https://swimlane.gitbook.io/ngx-charts</a>
    </h2>
    
    <div class="area-graph-wrapper d-flex justify-content-center">
        <ngx-charts-area-chart
            [view]="view"
            [results]="multi"

            [legend]="legend"
            [xAxisLabel]="'Year'"
            [yAxisLabel]="'Population'"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"

            [timeline]="timeline"
        ></ngx-charts-area-chart>
    </div>
    
    <div class="bar-horizontal-graph-wrapper d-flex justify-content-center">
        <ngx-charts-bar-horizontal-normalized
            [view]="view"
            [results]="multi"

            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="'Normalized Population'"
            [yAxisLabel]="'Country'"

            [legendTitle]="'Pop by Country'"
            [gradient]="false"
        ></ngx-charts-bar-horizontal-normalized>
    </div>

    <div class="heat-map-graph-wrapper d-flex justify-content-center">
        <ngx-charts-heat-map
            [view]="view"
            [results]="multi"

            [legend]="legend"
            [xAxisLabel]="'Population'"
            [yAxisLabel]="'Year'"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
        ></ngx-charts-heat-map>
    </div>

    <div class="bar-vertical-graph-wrapper d-flex justify-content-center">
        <ngx-charts-bar-vertical 
            [view]="view"
            [results]="saleData"

            [legend]="legend"
            [xAxisLabel]="'Products'"
            [yAxisLabel]="'Sale'"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"

            [legendTitle]="'Product Sale Chart'"
            [gradient]="true"
        ></ngx-charts-bar-vertical>
    </div>

    <div class="pie-graph-wrapper d-flex justify-content-center">
        <ngx-charts-pie-chart
            [view]="view"

            [results]="saleData"
            [legend]="true"
            [legendTitle]="'Product Sale Report'" 
            [labels]="true"
        ></ngx-charts-pie-chart>
    </div>
    
    <div class="advanced-pie-graph-wrapper d-flex justify-content-center">
        <ngx-charts-advanced-pie-chart
            [view]="view"

            [results]="saleData"
            [gradient]="true"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        ></ngx-charts-advanced-pie-chart>
    </div>

    <div class="pie-grid-graph-wrapper d-flex justify-content-center">
        <ngx-charts-pie-grid
            [view]="view"
            [results]="saleData"
        ></ngx-charts-pie-grid>
    </div>

    <div class="gauge-graph-wrapper d-flex justify-content-center">
        <ngx-charts-gauge
            [view]="view"

            [results]="saleData"
            [legend]="legend"
            [legendTitle]="'Product Sale Report'" 
            [legendPosition]="legendPosition"
        ></ngx-charts-gauge>
    </div>

    <div class="polar-graph-wrapper d-flex justify-content-center">
        <ngx-charts-polar-chart
            [view]="view"

            [results]="multi"
            [legend]="legend"
            [xAxisLabel]="'Year'"
            [yAxisLabel]="'Population'"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"

            [legendTitle]="'Population/Year'"
            [gradient]="true"
        ></ngx-charts-polar-chart>
    </div> 

    <p>&nbsp;</p>
    <div class="tree-map-graph-wrapper d-flex justify-content-center">
        <ngx-charts-tree-map
            [view]="view"
            [results]="single"
            
            [gradient]="true"
            [animations]="animations"
        ></ngx-charts-tree-map>
    </div>

    <p>&nbsp;</p>
    <div class="bubble-graph-wrapper d-flex justify-content-center">
        <ngx-charts-bubble-chart
            [view]="view"
            [scheme]="colorScheme"

            [results]="bubbleData"
            [xAxisLabel]="'Years'"
            [yAxisLabel]="'Population'"
            
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"           
            [xAxis]="xAxis"
            [yAxis]="yAxis"

            [legend]="legend"

            [yScaleMin]="70"
            [yScaleMax]="85"
            [minRadius]="5"
            [maxRadius]="20"
        ></ngx-charts-bubble-chart>
    </div>




    <div *ngIf="legend === true" class="dig-graph-wrapper">
        <app-scatter-line-chart [results]="data" [config]="chartConfig"></app-scatter-line-chart>
    </div>

</section>