.vertical-wrapper {

    height: calc(100vh - (64px + 77px + 68px)); // 68px ???? though has 'position: absolute;', it's the '.align-bottom' height!

    .dig-graph-wrapper {
        // display: none;
        position: absolute;
        top: 4800px;
        
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        width: 1500px;
        height: 500px;
    }

}