.container {
    padding: 16px;
}

.align-bottom {
    position: fixed;
    left: 0; right: 0; bottom: 16px;
    margin: auto;
}

.mat-display-2 { margin: 0; }

.backdropBackground {
    filter: blur(20px);
    background-color: #caa4a4;
    opacity: 0.7 !important;
}
