<app-sidenav #sidenav>

    <div class="container">
        <h1 class="mat-display-2">Main Content</h1>
    </div>
    
    <router-outlet></router-outlet>

    <div class="align-bottom container">
        <button mat-raised-button class="float-right" [color]="sidenav.themeColor" (click)="openDialog(sidenav.themeColor)">Dialog</button>
    </div>

</app-sidenav>
