
<section class="container mt-5">

	<div class="row" *ngIf="!isLoggedIn">
		<div class="col-md-6">
			<h1>Login</h1>
			<hr><br>

			<form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

				<mat-form-field class="form-group">
					<input type="text" matInput placeholder="Email" formControlName="email" class="form-control" />
					<mat-error>Please provide a valid email address!</mat-error>
				</mat-form-field>

				<mat-form-field class="form-group">
					<input type="password" matInput placeholder="Password" formControlName="password"  class="form-control" />
					<mat-error>Please provide a valid password!</mat-error>
				</mat-form-field>

				<p></p>

				<div class="footer">
					<button mat-raised-button [color]="themeColor" [disabled]="loginForm?.invalid">Submit</button>
					<button mat-button [color]="themeColor" routerLink='/' class="float-right">Cancel</button>
				</div>
			</form>

		</div>
	</div>

	<div class="row flex-column" *ngIf="isLoggedIn">

		<div class="mb-5">
			<div class="mt-1 mb-2 text-center">Is this an ideal opportunity for you to get <b>Log out</b>...?</div>
			<button mat-raised-button [color]="themeColor" (click)="logout()">Yes</button>
			<button mat-button [color]="themeColor" routerLink='/' class="float-right">Cancel</button>
		</div>

		<mat-card class="total-width pb-2 mb-5">

			<div [hidden]="!imageLoader"><mat-spinner class="text-center m-auto"></mat-spinner></div>
			<img [hidden]="imageLoader" style="width: 100%;" src="https://loremflickr.com/320/240/bird" (load)="this.imageLoader=false;" alt="Nice birdie! 🐦"/>

			<mat-card-header>
				<mat-card-title class="my-4 text-uppercase">Authoring</mat-card-title>
				<mat-card-subtitle>
					<p><b>e-mail</b>: {{ email }}</p>
					<p class="break-all"><b>token</b>: <small>{{ authToken }}</small></p>
				</mat-card-subtitle>
			</mat-card-header>

		</mat-card>

	</div>

</section>
