section {
    .row{
        // it's natural display: flex
        align-items: center;
        justify-content: center;
    }

    .total-width { width: 400px }

    .break-all { word-break: break-all; }

    .form-group  {
        width: 100%;
        min-width: 250px;
    }
    .form-control { width: calc(100% - 25px); }

    .mat-input-element { padding: .375rem .75rem; height: auto; }
    
}

h5 { margin: 0; }