<h2 mat-dialog-title [attr.color]="data.themeColor">Dialog Header</h2>

<mat-dialog-content class="mat-typography">
    <div class="mat-dialog-content-body p-4">
        <h3>Sub Header</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sunt ratione eligendi ab esse dolorum
            delectus
            aliquid, doloribus perferendis dolores impedit laudantium voluptatum cum ad odit eius harum saepe commodi.
        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [color]="data.themeColor" (click)="onClick()">Close</button>
</mat-dialog-actions>

