
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

/************************************************************************/
// import our custom theme
@import "./styles-theme.scss";          
// import custom component themes
@import "./styles-custom-component-themes.scss";
/************************************************************************/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng11-enterprise-theme);
@include styles-custom-components-theme($ng11-enterprise-theme, $notifications-theme);

/************************************************************************/
// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include angular-material-color($dark-theme);
  /************************************************************************/
  @include styles-custom-components-theme($dark-theme, $notifications-theme);
  /************************************************************************/
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);
/************************************************************************/

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

* { -webkit-tap-highlight-color: transparent; }

// [contenteditable="true"]:focus,
// input:focus,
// select:focus,
// textarea:focus,
// button:focus
*:focus {
    outline: none;
}

input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="password"]:focus { box-shadow: 0 0 0 rgb(255, 255, 255); }

a.main-title, a:hover.main-title, a:active.main-title {
    text-decoration: none !important;
    color: #fff !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }

.default-notification-overlay,
.info-notification-overlay,
.success-notification-overlay,
.warning-notification-overlay,
.error-notification-overlay {
    max-width: 90% !important;
    min-width: 650px !important;

    white-space: pre-wrap !important;
}

// CHARTS - need to go INSIDE <ngx-charts-...>
.advanced-pie-graph-wrapper {
    .advanced-pie-legend { zoom: .7; }
}